# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Production build
dist/

# Optional npm cache directory
.npm

# OS-specific files
.DS_Store
Thumbs.db

# Other files and directories
.vscode/
.idea/
